@using NsauT.Web.DAL.Models;
@model SubjectEntity

@{
    ViewData["Title"] = "Subject";
}

<h1>@Model.Title</h1>
<div>
    @Model.Teachers
</div>

<h2>Нечетная неделя</h2>
@foreach (SchoolDayEntity day in Model.Days.Where(d => !d.IsDayOfEvenWeek))
{
    <div>День: @day.Day</div>
    <div>
        Проверен: @if (day.IsApproved)
        {
            <span>Да</span>
        }
        else
        {
            <span>Нет</span>
        }
    </div>
    <ul>
        @foreach (PeriodEntity period in day.Periods)
        {
            <li>
                <div>
                    <div>Номер: @period.Number</div>
                    <div>
                        Лекция: @if (@period.IsLecture)
                        {
                            <span>Да</span>
                        }
                        else
                        {
                            <span>Нет</span>
                        }
                    </div>

                    <div>Подгруппа: @period.Subgroup</div>
                    <div>Кабинет: @period.Cabinet</div>
                    <div>Модификатор: @period.Option</div>
                    <div>Дата мод.: @period.OptionDate</div>
                    <div>Кабинет мод.: @period.OptionCabinet</div>
                    <div>
                        Проверен: @if (period.IsApproved)
                        {
                            <span>Да</span>
                        }
                        else
                        {
                            <span>Нет</span>
                        }
                    </div>
                    <a asp-controller="Periods" asp-action="Period" asp-route-id="@period.Id">Редактировать</a>
                </div>
                <hr />
            </li>
        }
    </ul>
}

<h2>Четная неделя</h2>
@foreach (SchoolDayEntity day in Model.Days.Where(d => d.IsDayOfEvenWeek))
{
    <div>День: @day.Day</div>
    <div>
        Проверен: @if (day.IsApproved)
        {
            <span>Да</span>
        }
        else
        {
            <span>Нет</span>
        }
    </div>
    <ul>
        @foreach (PeriodEntity period in day.Periods)
        {
            <li>
                <div>
                    <div>Номер: @period.Number</div>
                    <div>
                        Лекция: @if (@period.IsLecture)
                        {
                            <span>Да</span>
                        }
                        else
                        {
                            <span>Нет</span>
                        }
                    </div>

                    <div>Подгруппа: @period.Subgroup</div>
                    <div>Кабинет: @period.Cabinet</div>
                    <div>Модификатор: @period.Option</div>
                    <div>Дата мод.: @period.OptionDate</div>
                    <div>Кабинет мод.: @period.OptionCabinet</div>
                    <div>
                        Проверен: @if (period.IsApproved)
                        {
                            <span>Да</span>
                        }
                        else
                        {
                            <span>Нет</span>
                        }
                    </div>
                    <a asp-controller="Periods" asp-action="Period" asp-route-id="@period.Id">Редактировать</a>
                </div>
                <hr />
            </li>
        }
    </ul>
}

