@using NsauT.Web.DAL.Models;
@model TimetableEntity;

@{
    ViewData["Title"] = "Timetable";
}

<h5>ID: @Model.Id</h5>
<p>
    Key: @Model.Key
</p>

<p>
    <span>Группы:</span><br />
    <ul>
        @foreach (GroupEntity group in Model.Groups)
        {
            <li>@group.Number</li>
        }
    </ul>
</p>

<br />

<table class="table table-bordered table-hover">
    <thead class="thead-dark">
        <tr>
            <th>Проверен</th>
            <th>Предмет</th>
            <th>Преподаватели</th>
        </tr>
    </thead>
    <tbody>
        @foreach (SubjectEntity subject in Model.Subjects)
        {
        <tr>
            <td>@(subject.IsApproved ? "Да" : "Нет")</td>
            <td><a asp-action="subject" asp-route-id="@subject.Id">@subject.Title</a></td>
            <td>@subject.Teachers</td>
        </tr>
        }
    </tbody>
</table>


