@using NsauT.Web.Models
@model List<TimetableInfoViewModel>;

@{
    ViewData["Title"] = "Timetables";
}

<h5>Расписание</h5>

<table class="table table-bordered table-hover">
    <thead class="thead-dark">
        <tr>
            <th>Проверено</th>
            <th>Занятия проверены</th>
            <th>Группы</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
    @foreach(TimetableInfoViewModel info in Model)
    {
        <tr>
            <td>@(info.IsApproved ? "Да" : "Нет")</td>
            <td>@info.SubjectsApproved / @info.SubjectsAmount</td>
            <td><a asp-action="timetable" asp-route-id="@info.Id">@info.Key</a></td>
        </tr>
    }
</table>

