@using NsauT.Web.Areas.Manage.Models.SubjectController;
@model SubjectModel

@{
    ViewData["Title"] = "Subject";
}

<h5>@Model.Title</h5>
<div>
    @Model.Teachers
</div>
<br />
<div>
    Лекции: @(Model.LectureStartDate?.ToString("d") ?? "...") - @(Model.LectureEndDate?.ToString("d") ?? "...")
</div>
<div>
    Практики: @(Model.PracticeStartDate?.ToString("d") ?? "...") - @(Model.PracticeEndDate?.ToString("d") ?? "...")
</div>
<br /><br />

@foreach (SchoolDayModel day in Model.Days.OrderBy(d => d.Day).ThenBy(d => d.IsDayOfEvenWeek))
{
<div>
    <div class="row mb-1">
        <div class="col-md-2">
            <span class="mr-1"><img src="~/images/@(day.IsApproved ? "check-3x.png" : "x-3x.png")" alt="@(day.IsApproved ? "Да" : "Нет")" /></span>
            <span class="font-weight-bold">@day.Day</span> - @(day.IsDayOfEvenWeek ? "Четная" : "Нечетная")
        </div>
        <div class="col-md-1">
            <a asp-action="deleteday" asp-route-id="@day.Id" class="btn btn-outline-danger btn-sm">Удалить день</a>
        </div>
    </div>
</div>
    <table class="table table-bordered table-hover">
        <thead class="thead-dark">
            <tr>
                <th>Проверена</th>
                <th>Номер пары</th>
                <th>Лекция</th>
                <th>Подгруппа</th>
                <th>Кабинет</th>
                <th>*Особое</th>
                <th>*Дата</th>
                <th>*Кабинет</th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (PeriodModel period in day.Periods.OrderBy(p => p.Number))
            {
                <tr>
                    <td><img src="~/images/@(period.IsApproved ? "check-3x.png" : "x-3x.png")" alt="@(period.IsApproved ? "Да" : "Нет")" /></td>
                    <td>@period.Number</td>
                    <td>@(period.IsLecture ? "Да" : "Нет")</td>
                    <td>@period.Subgroup</td>
                    <td>@period.Cabinet</td>
                    <td>@period.Option</td>
                    <td>@period.OptionDate</td>
                    <td>@period.OptionCabinet</td>
                    <td><a asp-controller="period" asp-action="approveperiod" asp-route-id="@period.Id" class="btn btn-outline-success btn-sm">Проверено</a></td>
                    <td><a asp-controller="period" asp-action="period" asp-route-id="@period.Id" asp-route-dayId="@day.Id" class="btn btn-outline-primary btn-sm">Редактировать</a></td>
                    <td><a asp-controller="period" asp-action="deleteperiod" asp-route-id="@period.Id" class="btn btn-outline-danger btn-sm">Удалить</a></td>
                </tr>
            }
        </tbody>
    </table>
    <a class="btn btn-outline-primary btn-sm" asp-controller="period" asp-action="period" asp-route-dayId="@day.Id">Добавить пару</a>
    <br />
    <br />
    <br />
}
